<script>
    // Function to show/hide the table column based on the div's text
      
  
  </script>
  
  {{FrontSide}}
      
  <span style="display:none">{{edit:cloze:Content}}</span>
  <script>
      $(function () {
          $('#note').show(0)
                   $('#index').show(0)
          $('#info').show(0)
          $('#mnemonics').show(0)
          $('#extra').show(0)
          $('.genuine-cloze').each(function (index, elem) {
              toggleCloze(elem, 'answer')
          })
      })
  </script>
  